{% extends "starwarsapp/base.html" %}
{% load static %}
{% block content %}
<link rel='stylesheet' href='{% static "starwarsapp/urlLogger/wholepagestyle.css" %}'>


<div class="wrapper">
	<div class="container">
		<h1>URL Log</h1>

		<ul id="list" class="urlTabloid">
			<button type="submit" id="login-button">Return</button>
			  <button onclick="resetCookie('urls')">RESET COOKIES</button>
		</ul>
	</div>

	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>

<script type="text/javascript" src="{% static "starwarsapp/urlLogger/wholepageindex.js" %}"></script>


<style>
    p {color: black;}
</style>
{% endblock %}