{% extends "starwarsapp/base.html" %}
{% load static %}

{% block styles %}
  <link rel='stylesheet' href='{% static "starwarsapp/style.css" %}'>
{% endblock %}


{% block content %}


  <div class="carousel-wrap">
  <div class="owl-carousel">
    <div class="item"><img src="https://raw.githubusercontent.com/Thinkful-Ed/star-wars-responsive-challenge-starter-files/master/images/rey_square.png" alt="Image of Rey">
						<h3>Ray</h3>
                        <p class="caption">Protagonist, from Tatooine</p>
    </div>
    <div class="item"><img src="https://raw.githubusercontent.com/Thinkful-Ed/star-wars-responsive-challenge-starter-files/master/images/finn_square.png" alt="Image of Finn">
						<h3>Finn</h3>
						<p class="caption">Storm Trooper, befriends Ray</p></div>
    <div class="item"><img src="https://raw.githubusercontent.com/Thinkful-Ed/star-wars-responsive-challenge-starter-files/master/images/kylo_square.png" alt="Image of Kylo">
						<h3>Kylo</h3>
						<p class="caption">Main villan, or is he?</p></div>
    <div class="item"><img src="https://raw.githubusercontent.com/Thinkful-Ed/star-wars-responsive-challenge-starter-files/master/images/poe_square.png" alt="Image of Poe">
						<h3>Poe</h3>
						<p class="caption">Neutral pilot</p></div>
    <div class="item"><img src="https://raw.githubusercontent.com/Thinkful-Ed/star-wars-responsive-challenge-starter-files/master/images/chewbacca_square.png" alt="Image of Chewbacca">
						<h3>Chewbacca</h3>
						<p class="caption">A great first mate</p></div>

    <div class="item"><img src="https://raw.githubusercontent.com/Thinkful-Ed/star-wars-responsive-challenge-starter-files/master/images/yoda_square.png" alt="Image of Yoda">
						<h3>Yoda</h3>
						<p class="caption">Wise old Jedi master</p></div>

    <div class="item"><img src="{% static "han.jpg" %}" alt="han"/>
      <h3>Han</h3>
						<p class="caption">Sexy pilot with guns</p></div>
    <div class="item"><img src="{% static "C-3PO.jpg" %}"><h3>C-3PO</h3>
						<p class="caption">Metallic sass</p></div>
    <div class="item"><img src="{% static "Darth-Vader.jpeg" %}"><h3>Darth Vader</h3>
						<p class="caption">Father of incest</p></div>
    <div class="item"><img src="{% static "leia.jpg" %}"><h3>Leia</h3>
						<p class="caption">rocking the fallera hair</p></div>
    <div class="item"><img src="{% static "luke.jpg" %}"><h3>Luke</h3>
						<p class="caption">Hero v1.0</p></div>
    <div class="item"><img src="{% static "R2-D2.jpg" %}"><h3>R2-D2</h3>
						<p class="caption">clunky teapot</p></div>
  </div>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/owl.carousel.min.js'></script>
<script src='https://use.fontawesome.com/826a7e3dce.js'></script>


<script type="text/javascript" src="{% static "starwarsapp/index.js" %}"></script>


{% endblock %}