{% load static %}

<link rel='stylesheet' href='{% static "starwarsapp/searchRecommends/style.css" %}'>

  <div class="container" style="width:900px;">
   <h2 align="center" class="autocomplete-searchbar-title">STAR WARS live data search</h2>
   <h3 align="center" class="autocomplete-searchbar-title">Film Data</h3>
   <br /><br />
   <div align="center">
       <form method="GET" action="{% url 'search' %}">
            <input type="text" name="q" id="search" placeholder="Search Star Wars Films" class="form-control" />
       </form>
   </div>
   <ul class="list-group" id="result"></ul>
   <br />
  </div>

<script>
$(document).ready(function() {
    $.ajaxSetup({
        cache: false
    });
    $('#search').keyup(function() {
        $('#result').html('');
        $('#state').val('');
        var searchField = $('#search').val();
        var expression = new RegExp(searchField, "i");
        $.getJSON('{% static "data.json" %}', function(data) {
            $.each(data, function(key, value) {
                if (value.name.search(expression) != -1 || value.location.search(expression) != -1) {
                    $('#result').append('<li class="list-group-item link-class"><img src="' + value.image + '"
                    height="40" width="40" class="img-thumbnail" /> ' + value.name + ' | <span class="text-muted">'
                    + value.location + '</span></li>');
                }
            });
        });
    });

    $('#result').on('click', 'li', function() {
        var click_text = $(this).text().split('|');
        $('#search').val($.trim(click_text[0]));
        $("#result").html('');
    });
});
</script>
